<footer class="usa-footer usa-footer-slim" role="contentinfo">
    <div class="grid-container usa-footer-return-to-top">
      <a href="#">Return to top</a>
    </div>
    <div class="usa-footer-primary-section">
      <div class="grid-row grid-row maxw-desktop margin-x-auto desktop:padding-x-4">
        <div class="mobile-lg:grid-col-8">
          <nav class="usa-footer-nav">
            <ul class="add-list-reset grid-row grid-gap">
              <li class="mobile-lg:grid-col-6 desktop:grid-col-auto usa-footer-primary-content">
                <a class="usa-footer-primary-link" href="https://www.dol.gov/general/aboutdol/website-policies">Website Notices</a>
              </li>
              <li class="mobile-lg:grid-col-6 desktop:grid-col-auto usa-footer-primary-content">
                <a class="usa-footer-primary-link" href="https://www.data.gov/">Data.gov</a>
              </li>
              <li class="mobile-lg:grid-col-6 desktop:grid-col-auto usa-footer-primary-content">
                <a class="usa-footer-primary-link" href="https://www.usa.gov/">USA.gov</a>
              </li>
              <li class="mobile-lg:grid-col-6 desktop:grid-col-auto usa-footer-primary-content">
                <a class="usa-footer-primary-link" href="https://www.whitehouse.gov/">White House.gov</a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="mobile-lg:grid-col-4">
        </div>
      </div>
    </div>
    <div class="usa-footer-secondary-section">
      <div class="grid-container grid-row">
        <div class="usa-footer-logo grid-col-4 grid-row grid-gap-1">
          <div class="grid-col-auto">
            <img class="usa-footer-logo-img" src="{{ site.baseurl }}/assets/img/Department_of_Labor_Footer.png" alt="">
          </div>
          <div class="grid-col">
            <a href="https://www.dol.gov/"><h3 class="usa-footer-logo-heading">U.S. Department of Labor</h3></a>
          </div>
        </div>
        <div class="usa-footer-logo grid-col-4 grid-row grid-gap-1">
          <div class="grid-col-auto">
            <img class="usa-footer-logo-img" src="{{ site.baseurl }}/assets/img/Department_of_Commerce_Footer.png" alt="">
          </div>
          <div class="grid-col">
            <a href="https://www.commerce.gov/"><h3 class="usa-footer-logo-heading">U.S. Department of Commerce</h3></a>
          </div>
        </div>
        <div class="usa-footer-logo grid-col-4 grid-row grid-gap-1">
          <div class="grid-col-auto">
            <img class="usa-footer-logo-img" src="{{ site.baseurl }}/assets/img/Department_of_Education_Footer.png" alt="">
          </div>
          <div class="grid-col">
            <a href="https://www.ed.gov/"><h3 class="usa-footer-logo-heading">U.S. Department of Education</h3></a>
          </div>
        </div>
      </div>
    </div>
  </footer>