

<footer class="usa-footer usa-footer-slim" role="contentinfo">
    <div class="grid-container usa-footer-return-to-top">
      <a href="#" class="usa-button-outline padding-1">Return to top</a>
    </div>
    
    </div>
    <div class="usa-footer-secondary-section">
      <div class="grid-container">
        <div class="usa-footer-logo grid-row grid-gap-2">
          <div class="grid-col-auto">
            <img class="usa-footer-logo-img" src="/assets/img/logo-img.png" alt="">
          </div>
          <div class="grid-col-auto">
            <h3 class="usa-footer-logo-heading">JobKit: Data Partnership for the American Worker
              </h3>
          </div>
        </div>
      </div>
    </div>
  </footer>
