<section class="usa-hero">
    <picture>
        <source
          type="image/webp"
          srcset="
          {{ site.baseurl }}/assets/img/dist/banner_v4dsnd_c_scale-w_200.webp 200w,
          {{ site.baseurl }}/assets/img/dist/banner_v4dsnd_c_scale-w_781.webp 781w,
          {{ site.baseurl }}/assets/img/dist/banner_v4dsnd_c_scale-w_1211.webp 1211w,
          {{ site.baseurl }}/assets/img/dist/banner_v4dsnd_c_scale-w_1400.webp 1400w,
          {{ site.baseurl }}/assets/img/dist/banner.webp">
          <img class="hero-bg"
          sizes="(max-width: 1400px) 100vw, 1400px"
          srcset="
          {{ site.baseurl }}/assets/img/dist/banner_hkfazs_c_scale-w_200.png 200w,
          {{ site.baseurl }}/assets/img/dist/banner_hkfazs_c_scale-w_366.png 366w,
          {{ site.baseurl }}/assets/img/dist/banner_hkfazs_c_scale-w_484.png 484w,
          {{ site.baseurl }}/assets/img/dist/banner_hkfazs_c_scale-w_586.png 586w,
          {{ site.baseurl }}/assets/img/dist/banner_hkfazs_c_scale-w_669.png 669w,
          {{ site.baseurl }}/assets/img/dist/banner_hkfazs_c_scale-w_743.png 743w,
          {{ site.baseurl }}/assets/img/dist/banner_hkfazs_c_scale-w_814.png 814w,
          {{ site.baseurl }}/assets/img/dist/banner_hkfazs_c_scale-w_877.png 877w,
          {{ site.baseurl }}/assets/img/dist/banner_hkfazs_c_scale-w_939.png 939w,
          {{ site.baseurl }}/assets/img/dist/banner_hkfazs_c_scale-w_999.png 999w,
          {{ site.baseurl }}/assets/img/dist/banner_hkfazs_c_scale-w_1051.png 1051w,
          {{ site.baseurl }}/assets/img/dist/banner_hkfazs_c_scale-w_1102.png 1102w,
          {{ site.baseurl }}/assets/img/dist/banner_hkfazs_c_scale-w_1157.png 1157w,
          {{ site.baseurl }}/assets/img/dist/banner_hkfazs_c_scale-w_1208.png 1208w,
          {{ site.baseurl }}/assets/img/dist/banner_hkfazs_c_scale-w_1257.png 1257w,
          {{ site.baseurl }}/assets/img/dist/banner_hkfazs_c_scale-w_1306.png 1306w,
          {{ site.baseurl }}/assets/img/dist/banner_hkfazs_c_scale-w_1352.png 1352w,
          {{ site.baseurl }}/assets/img/dist/banner_hkfazs_c_scale-w_1398.png 1398w,
          {{ site.baseurl }}/assets/img/dist/banner_hkfazs_c_scale-w_1399.png 1399w,
          {{ site.baseurl }}/assets/img/dist/banner_hkfazs_c_scale-w_1400.png 1400w"
          srcset="{{ site.baseurl }}/assets/img/dist/banner_hkfazs_c_scale-w_1400.png">
      </picture>
    <div class="grid-container">
      <div class="hero-overlay">
        <picture class="hero-logo">
          <source
            media="(min-width: 640px)"
            srcset="{{ site.baseurl }}/assets/img/dist/jobkit_logo_wht.svg">
            <img src="{{ site.baseurl }}/assets/img/dist/jobkit_logo_text.svg">
        </picture>

        <hr class="border-top-1 border-secondary margin-left-neg-3px width-tablet">
        
        {% if hero.callout %}
        <h2>
          {% if hero.callout.alt %}
          <span class="usa-hero-callout-alt">{{ hero.callout.alt }}</span>
          {% endif %}
          {{ hero.callout.text | default: hero.callout }}
        </h2>
  
        {% if hero.link %}
        <a class="usa-hero-link" href="{{ hero.link.href | relative_url }}">
          {{ hero.link.text }}
        </a>
        {% endif %}
  
        {{ hero.content | markdownify }}
  
        {% if hero.button %}
        <a class="usa-button usa-button-outline-inverse"
          href="{{ hero.button.href | relative_url }}">
          {{ hero.button.text }}
        </a>
        {% endif %}
      </div>
    </div>
  </section>
  {% endif %}